<% layout('layouts/adminSidebar')%>
<section class="white mb-5 admin">
    <div class="d-flex container justify-content-center">

        <!-- Three columns of text below the carousel -->
        <div class="row d-flex mt-5">
            <div class="title">

                <h2 class="text-center mb-3">
                    <i class="bi bi-cart-check-fill"></i>
                    Admin Control Panel
                </h2>
                <p class="text-center mb-3 titleDesc">Control panel for the admin</p>
            </div>
            <div class="col-lg-4 text-center ali">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#485563"
                    class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                </svg>
                <h6>5</h6>

                <p><a class="btn btn-secondary adminBtn" href="#">Services</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#485563" class="bi bi-image-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                </svg>
                <h6>4</h6>

                <p><a class="btn btn-secondary adminBtn" href="#">Galleries</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#485563"
                    class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                    <path
                        d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
                </svg>

                <h6>8</h6>

                <p><a class="btn btn-secondary adminBtn" href="#">Bookings</a></p>
            </div>
            <div class="col-lg-4 text-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#485563"
                    class="bi bi-question-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
                </svg>
                <h6>3</h6>

                <p><a class="btn btn-secondary adminBtn" href="#">FAQS</a></p>
            </div>

            <div class="col-lg-4 text-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#485563"
                    class="bi bi-layout-text-window-reverse" viewBox="0 0 16 16">
                    <path
                        d="M13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z" />
                    <path
                        d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM2 1a1 1 0 0 0-1 1v1h14V2a1 1 0 0 0-1-1H2zM1 4v10a1 1 0 0 0 1 1h2V4H1zm4 0v11h9a1 1 0 0 0 1-1V4H5z" />
                </svg>
                <h6>11</h6>

                <p><a class="btn btn-secondary adminBtn" href="#">Reviews</a></p>
            </div>



        </div><!-- /.row -->

    </div>
</section>