<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="/">PHOTOFAXT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="ms-auto">
                <div class="navbar-nav">
                    <a class="nav-link active" id="navContent" aria-current="page" href="/">Home</a>
                    <a class="nav-link" id="navContent" href="/#services">Services</a>
                    <a class="nav-link" id="navContent" href="/#about">About Us</a>
                    <a class="nav-link" id="navContent" href="/#galleries">Gallery</a>
                    <a class="nav-link" id="navContent" href="/#revs">Reviews</a>
                    <a class="nav-link" id="navContent" href="/#faqs">FAQS</a>

                </div>
            </div>

        </div>
    </div>
</nav>