@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.navbar{
    background-image:linear-gradient(to right, #29323C, #485563);

}
.navbar #logo{
    font-family: 'Inter';
    font-weight:800;

}
#navContent{
    font-family: 'Lato';
}
.overview h6{
    font-family:'Inter';
    color:#485563;
    font-size:20px;
    font-weight:bold;
}
.hero{
    height:80vh;
}
h1{
    font-family:'Inter';
    font-weight:800;
    font-size:3rem;
    text-transform: uppercase;
    color:#485563;
}
.nextLine:before{
    content: '\A';
    white-space: pre;
}
#button{
    border-color: #485563;
    background-color:#485563;
    width:150px;
}
#button:after{
    border-color: #fff;
    background-color:#485563;
    width:150px;
}

.white h2{
    font-family: 'Inter';
    padding-top:25px;
font-size: 1.5rem;
font-weight:bold;
color:#485563;
text-align: center;
}
.white h3{
    color:#485563;
font-size:50px;
}

.white h6{
    font-family: 'Lato';
    color:#485563;
    font-size:20px;
    font-weight:500;
}
#galleries a{
    font-family: 'Lato';
    color:#485563;
    font-size:1rem;
}

.white.titleDesc{
font-family:'Lato';
font-size:30px;
color:#485563;
text-align:center;
}

.dark{
    background-image:linear-gradient(to right, #29323C, #485563);
    color:#fff;
}
.dark h2{
font-family: 'Inter';
font-size: 1.5rem;
font-weight:bold;
color:#fff;
text-align: center;
}
.dark span{
    color:#fff;
    height:60px;
    width:60px;
}
.dark.titleDesc{
font-family:'Lato';
font-size:30px;
color:#fff;
text-align:center;
}
#secondary{
    border-color: #fff;
    color:#fff;
}
#aboutBtn{
    border-color: #485563;
    color:#485563;
    width:150px;
}
#aboutBtn:hover{
    border-color: #485563;
    color:#fff;
    width:150px;
}

#gallery{
    height:225px;
    width:100%;
}
.review{
    height:500px;
    background-color:#E4E9EC;
    font-family:'Lato';
font-size:15px;
color:#485563;
text-align:center;
}
.review h2{
    font-family: 'Inter';
    padding-top:25px;
font-size: 1.5rem;
font-weight:bold;
color:#485563;
text-align: center;
}
.review h3{
    color:#485563;
    height:100px;
    width:100px;
}


#reviewImg{
    width:200px;
    height:200px;
    background-color: #485563;
}
.reviewTitle{
    font-family:'Lato';
    color:#485563;
    font-size:20px;
    font-weight:bold;
}

.footer{
    background-image: linear-gradient(to right, #29323C, #485563);
    width:100%;

}

.footer h6{
  font-family:'Lato';
  font-size:15px;
  font-weight:bold;
  color:#fff;
}

#theTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width:50px;
  height:50px;
  border-radius:50%;
  border: solid 2px #fff;
  background-color:#485563;
  display: none;
}

.about p{
    font-family: 'Lato';
    color:#485563;
    font-size:1rem;
    font-weight:500;
}
.about h6{
    font-family: 'Lato';
    color:#485563;
    font-size:15px;
    font-weight:bold;
}
.leftText h2{
    text-align:left;
}
.leftText p{
    text-align:justify;
}

#login{
    background-color: #485563;
    color:#fff;
    border-color:#485563;
}
#login:hover{
    background-color: #29323C;
    color:#fff;
    border-color:#29323C;
}
input[type="text"],[type="password"]{
    background-color: #E4E9EC;
    color:#485563;
}
.loginLabel{
    font-family:'Lato';
    font-size:15px;
    color:#485563;

}
.loginTitle h6{
     font-family:'Lato';
    font-size:20px;
    font-weight:bold;
    color:#485563;
}
.admin{
  background-color: #fff;
  min-height:100vh;
}

.admin h6{
    font-size:20px;
    font-weight:bold;
}

.adminBtn{
    background-color:#485563;
    color:white;
}
.adminHead{
    font-weight:bold;
}

.adminPanel{
background-color:#E4E9EC;
width:80vw;
}
.adminPanel input[type="text"], input[type="password"]{
background-color: #fff;
    color:#485563;
}
.edit a{
    text-decoration:none;
    font-family:'Lato';
    font-size:15px;
    color:#485563;
    font-weight:bold;
}

#cancel{
    background-color:#E4E9EC;
    border-color:#485563;
    color:#485563;
}
#cancel:hover{
       background-color: #D71919;
    color:#fff;
    border-color:#D71919;
}
#cancel::after{
       background-color: #D71919;
    color:#fff;
    border-color:#D71919;
}
#cancel:active{
       background-color: #D71919;
    color:#fff;
    border-color:#D71919;
}
#cancel2,#add{
    background-color:#fff;
    border-color:#485563;
    color:#485563;
}
#cancel2:hover{
       background-color: #D71919;
    color:#fff;
    border-color:#D71919;
}
#add:hover{
    background-color:#485563;
    border-color:#485563;
    color:#fff;
}
#view{
    text-decoration: none;
    font-family: 'Lato';
    color: #fff;
    background-color:#485563;
}
#view:hover{
    text-decoration: none;
    font-family: 'Lato';
    color: #fff;
    background-color:#29323C;
}
#edit{
    text-decoration: none;
    font-family: 'Lato';
    color: #485563;
    background-color:#fff;
    border-color:#485563;
}
#edit:hover{
    text-decoration: none;
    font-family: 'Lato';
    color: #fff;
    background-color:#29323C;
}

#revBg{
    background-color:#485563;
    color:#fff;
    padding:20px;
}
#revi{
color:#485563
}

#revEdit{
    text-decoration: none;
    font-family: 'Lato';
    color: #485563;
    font-weight:bold;
    background-color:#fff;
    border-color:#485563;
}
#revEdit:hover{
    text-decoration: none;
    font-family: 'Lato';
    color: #fff;
    background-color:#29323C;
}

.starability-result {
    text-align: center;
}


@media only screen and (max-width: 600px) {
  h1 {
    color:#fff;
    text-shadow: 2px 2px #485563;
  }
  .hero{
      height:60vh;
  }
}